.c-articleCards {
    &__photo {
        @extend %width-100;
    }
    
    &__textContainer {
        @extend %text-center;

        /*.c-articleCards__title {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 3em;
            text-transform: uppercase;
            padding: 1em 0px;
            color: hsl(0, 0%, 0%);
        }*/
        .c-articleCards__subtitle {
            @extend %font-bolder;
            line-height: 1.8em;
            font-size: 1.5em;
            color: hsl(0, 0%, 55%);
            font-family: 'Josefin Sans', sans-serif;
        }
    }
}