.c-menuToggle {
    @extend %width-100;
    @extend %height-100;
    @extend %position-absolute;
    @extend %weight-600;
    transition: 2s ease-in-out;
    //all style default of menu
    top: 300px;
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 100px;

    &__container {
        @extend %position-relative;
        @extend %height-100;
    }

    &__logo {
        width: 40%;
    }

    &__btnClose {
        @extend %position-absolute;
        width: 30px;
        right: 0;
    }

    &__nav {
        @extend %position-relative; 
        @extend %text-uppercase;
        @extend %height-100;
        top: 20%;
    }

    &__item {
        padding: 1em 0;
    }
    
    a {
        @extend %text-decorationNone;
        font-size: 1.5em;
        color: rgb(209, 202, 202);
    }

    @include for-desktop-up {
        display: none;
    }
}