.c-cardIntro {
    width: 100%;
    border: 2px solid white;
    color: hsl(0, 0%, 100%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    padding: 20px;
    box-sizing: border-box;
}