.c-simpleCard {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    padding: 70px 0px;
    
    &__title {
        position: relative;
        top: 20px;
        text-transform: uppercase;
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5em;
        max-width: 1ch;
    }
}

.c-simpleCard:nth-child(1) {
    background-image: url('../../../images/mobile/image-deep-earth.jpg');
}

.c-simpleCard:nth-child(2) {
    background-image: url('../../../images/mobile/image-night-arcade.jpg');
}

.c-simpleCard:nth-child(3) {
    background-image: url('../../../images/mobile/image-soccer-team.jpg');
}

.c-simpleCard:nth-child(4) {
    background-image: url('../../../images/mobile/image-grid.jpg');
}

.c-simpleCard:nth-child(5) {
    background-image: url('../../../images/mobile/image-from-above.jpg');
}

.c-simpleCard:nth-child(6) {
    background-image: url('../../../images/mobile/image-pocket-borealis.jpg');
}
.c-simpleCard:nth-child(7) {
    background-image: url('../../../images/mobile/image-curiosity.jpg');
}

.c-simpleCard:nth-child(8) {
    background-image: url('../../../images/mobile/image-fisheye.jpg');
}

